.Hero-img {
  height: 100vh;
  background-image: url('../../../public/images/r-architecture-CCjAPxoQWgQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.Hero-main {
  height: 100vh;
	padding-top: 40%;
	padding-bottom: 5%;
	background-color: rgba(84, 84, 84, 0.728);	
}

.Hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}