
.Choose-backimage {
	background-image: url('../../../public/images/sidekix-media-hmz7nC5mEu4-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.Choose-main {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: rgba(84, 84, 84, 0.728);	
}

.Choose-main > h1 {
	color: rgb(255, 255, 255);
}

.Choose-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
}

@media only screen and (max-width: 960px) {
	.Choose-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 700px) {
	.Choos-list {
		grid-template-columns: 1fr;
	}
}