
.Card {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Card > img {
  width: 50px;
  padding: 10px;
  height: auto;
  background-color: rgb(194, 0, 0);
}

.Card > p {
  color: rgb(254, 254, 254);
  font-size: 18px;
}
