.Header {
  box-sizing: border-box;
  width: 100%;
  display: flexbox;
  justify-content: left;
  align-items: left;
  background-color: #7b7b7b;
  color: rgb(0, 0, 0);

}

.Header-Subtitle {
  font-variant: small-caps;
}

