@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
html, body {
	height: 100%;
	margin: 0;
}
.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}
.lead { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 80%;
	min-width: 450px;
	height: 60px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
	
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 60px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.header-bar .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu .list-item {
	display: inline-flex;
	padding: 10px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu .list-item:hover, .logo:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}

.slider-menu .list-item-active {
	display: inline-flex;
	padding: 10px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	color: rgb(65, 53, 53);
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}

.logo {
	position: fixed;
	margin-top: 25px;
  width: 50px;
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

