@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
html, body {
	height: 100%;
	margin: 0;
	
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
	

}
.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	
}
.lead { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 80%;
	margin-left: 10%;
	padding-left: 5%;
	min-width: 450px;
	max-width: 1250px;
	height: 60px;
	
	
}

.header-bar .logo {
	position: absolute;
	top: 60%;
	left: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	user-select: none;
}
.slider-menu {
	position: inline-flex;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin-left: 10%;
	padding: 0;
	z-index: 1;
	
}
.slider-menu .list-item {
	display: inline-flex;
	padding: 10px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu .list-item:hover, .logo:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}

.slider-menu .list-item-active {
	display: inline-flex;
	padding: 10px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	color: rgb(65, 53, 53);
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}

.logo {
	position: fixed;
	margin-top: 25px;
  width: 50px;
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	
}

