
.ProjectBackground {
	background-color: rgb(201, 201, 201);
}

.ProjectsHeader {
	margin-top: 25px;
	padding-top: 100px;
	padding-left: 20%;
	padding-right: 20%;
	color: #282c34;
}

.ProjectsList {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
	margin-top: 100px;
}

@media only screen and (max-width: 960px) {
	.ProjectsList {
		grid-template-columns: 1fr;
		max-width: 960px;
	}
}

@media only screen and (max-width: 320px) {
	.ProjectsList {
		grid-template-columns: 1fr;
		max-width: 320px;
	}
}