
.ServicesList {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
}

@media only screen and (max-width: 960px) {
	.ServicesList {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 700px) {
	.ServicesList {
		grid-template-columns: 1fr;
	}
}